In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
935,tt0269095,40000000,22433915,City By The Sea,Robert De Niro|James Franco|Frances McDormand|...,Michael Caton-Jones,When you're searching for a killer... the last...,A man struggling to come to terms with the sin...,108,Drama|Thriller|Mystery,Warner Bros. Pictures|Epsilon Motion Pictures|...,9/6/2002,5.7,2002
1471,tt0427229,50000000,88715192,Failure to Launch,Matthew McConaughey|Sarah Jessica Parker|Zooey...,Tom Dey,"To leave the nest, some men just need a little...","Tripp, an attractive man in his thirties, is s...",97,Comedy,Paramount Pictures|Scott Rudin Productions|Fai...,3/10/2006,5.6,2006
542,tt0164334,60000000,105178561,Along Came a Spider,Morgan Freeman|Monica Potter|Michael Wincott|D...,Lee Tamahori,The game is far from over.,When a teacher kidnaps a girl from a prestigio...,104,Crime|Mystery|Thriller|Action,Paramount Pictures|AZL Productions KG|David Br...,4/6/2001,5.8,2001
909,tt0297181,70000000,33561137,I Spy,Eddie Murphy|Owen Wilson|Famke Janssen|Keith D...,Betty Thomas,Attitude meets espionage.,"When the Switchblade, the most sophisticated p...",97,Action|Adventure|Comedy|Thriller,Colombia Pictures,10/31/2002,5.2,2002
1034,tt1430626,60000000,118338361,The Pirates! In an Adventure with Scientists!,Hugh Grant|Brendan Gleeson|Jeremy Piven|Brian ...,Peter Lord|Jeff Newitt,It's A Plunderful Life,"In The Pirates! Band of Misfits, Hugh Grant st...",88,Animation|Adventure|Family|Comedy,Columbia Pictures|Aardman Animations|Sony Pict...,3/12/2012,6.4,2012

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
# добавим в датасет колонку profit это прибыль = сборы - бюджет
data['profit'] = data.revenue - data.budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [4]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [5]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [5]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [6]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [20]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [57]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [8]:
answers['4'] = '2. 110'
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [9]:
answers['5'] = '1. 107'
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [58]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [59]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [12]:
answers['8'] = '1. 1478'
len(data[data.profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [60]:
answers['9'] = '4. The Dark Knight (tt0468569)'
data[data.revenue == data[(data.release_year == 2008)].revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [61]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
data[data.profit == data[(data.release_year >= 2008) & (data.release_year <= 2014)].profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [15]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'
df_genres = data.genres.str.split('|',expand=True).stack().value_counts()
df_genres.index[0]

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [16]:
answers['12'] = '1. Drama'
#data[data.profit > 0].groupby('genres').agg('count').sort_values('profit',ascending=False).index[0]
pr=data[data.profit>0]
yu=pr.genres.str.split('|',expand=True).stack().value_counts()
yu.index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [62]:
answers['13'] = '5. Peter Jackson'
s_director = data['director'].str.split('|',expand=True).stack().unique()
a_dict = {}


for director in s_director:
    if(director not in a_dict):        
        a_dict[director] = data[data['director'].str.contains(director,False)]['revenue'].agg('sum')        
    else:
        sum = a_dict[director] 
        a_dict[director] = sum+data[data['director'].str.contains(director,False)]['revenue'].agg('sum')

max_val = max(a_dict.values())
max_value = max(a_dict.values())
final_dict = {k: v for k, v in a_dict.items() if v == max_value}
final_dict

{'Peter Jackson': 6490593685}

In [66]:
#13 вариант 2
s_director = data['director'].str.split('|',expand=True).stack().unique()
new_df = pd.DataFrame(columns = ['director', 'revenue'])
s = []  # Пустой список

for director in s_director:
    new_df.loc[len(new_df),'director'] = director 
    new_df.loc[len(new_df)-1,'revenue']  = data[data['director'].str.contains(director,False)]['revenue'].agg('sum')   
            
new_df.groupby('director').agg('sum').sort_values('revenue',ascending=False).head(1)

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [67]:
answers['14'] = '5. Peter Jackson'
#установим отбор только для фильмов Action
df_action = data[data['genres'].str.contains('Action',False)]
#выберем всех режисеров и посчитаем их
df_action['director'].str.split('|',expand=True).stack().value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [68]:
answers['15'] = '3. Chris Hemsworth'
#установим отбор по фильмам за 2012 год
df_2012_release_year = data[(data.release_year == 2012)]
# выберем всех актеров в этих фильмах
list_cast = data['cast'].str.split('|',expand=True).stack().unique()
#создадим DataFrame в который будем аккумулировать результат
new_df = pd.DataFrame(columns = ['cast', 'revenue'])

for cast in list_cast:
    new_df.loc[len(new_df),'cast'] = cast 
    new_df.loc[len(new_df)-1,'revenue']  = df_2012_release_year[df_2012_release_year['cast'].str.contains(cast,False)]['revenue'].agg('sum') 
                
new_df.groupby('cast').agg('sum').sort_values('revenue',ascending=False).head(1)

                    revenue
cast
Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [69]:
answers['16'] = '3. Matt Damon'
#посчитаем средний бюджет в датасете
mean_budget = data['budget'].mean()
#отберем фильмы которые являются высокобюджетными 
df_large_mean_budget = data[data['budget'] > mean_budget]
# выберем всех актеров
list_cast = df_large_mean_budget['cast'].str.split('|',expand=True).stack().unique()
#создадим DataFrame в который будем аккумулировать результат
df_result = pd.DataFrame(columns = ['cast', 'count'])

for cast in list_cast:
    df_result.loc[len(df_result),'cast'] = cast 
    df_result.loc[len(df_result)-1,'count']  = df_large_mean_budget[df_large_mean_budget['cast'].str.contains(cast,False)]['imdb_id'].agg('count')
    
df_result.sort_values('count',ascending=False).head(1)

          cast count
34  Matt Damon    18

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [70]:
answers['17'] = '2. Action'
#отбираем все фильмы в которых снимался Nicolas Cage
df_nicolas_cage = data[data['cast'].str.contains('Nicolas Cage',False)]
s_genres = df_nicolas_cage['genres'].str.split('|',expand=True).stack()
s_genres.value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [55]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
df_paramount_pictures = data[(data.profit < 0) & (data['production_companies'].str.contains('Paramount Pictures',False))]
df_paramount_pictures.sort_values('profit').head(1).original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [54]:
answers['19'] = '5. 2015'
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [56]:
answers['20'] = '1. 2014'
df_warner_bros = data[(data['production_companies'].str.contains('Warner Bros',False))]
df_warner_bros.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [26]:
answers['21'] = '4. Сентябрь'
data['release_date']=pd.to_datetime(data['release_date'])
df2 = data
df2['month_year'] = df2.release_date.dt.month
df2.groupby('month_year')['imdb_id'].count().sort_values(ascending=False).head(1)

month_year
9    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [27]:
answers['22'] = '2. 450'
data['release_date']=pd.to_datetime(data['release_date'])
df2 = data
df2['month_year'] = df2.release_date.dt.month
df2[(df2['month_year'] >= 6) & (df2['month_year'] <= 8)].count().sort_values(ascending=False).head(1)

month_year    450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [32]:
answers['23'] = '5. Peter Jackson'
data['release_date']=pd.to_datetime(data['release_date'])
df_month = data
df_month['month_year'] = df_month.release_date.dt.month
df_winter_month = df_month[(df_month['month_year'] == 1) | (df_month['month_year'] == 12) | (df_month['month_year'] == 2)]
df_winter_month['director'].str.split('|',expand=True).stack().value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
answers['24'] = '5. Four By Two Productions'

s_companies = data['production_companies'].str.split('|',expand=True).stack().unique()
df_result = pd.DataFrame(columns = ['production_companies', 'length'])

for company in s_companies:
    df_company = data[data['production_companies'].str.contains(company,False)]['original_title']
    for original_title in df_company:          
        df_result.loc[len(df_result),'production_companies'] = company 
        df_result.loc[len(df_result)-1,'length']  = len(original_title)
    
df_result['length'] = df_result['length'].apply(pd.to_numeric)
df_result.groupby('production_companies')['length'].mean().sort_values(axis=0,ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [36]:
answers['25'] = '3. Midnight Picture Show'

s_companies = data['production_companies'].str.split('|',expand=True).stack().unique()

df_result = pd.DataFrame(columns = ['production_companies', 'length'])
df_result['length'] = df_result['length'].astype('int')

for company in s_companies:
    df_company = data[data['production_companies'].str.contains(company,False)]['overview']
    for overview in df_company:  
        index = len(df_result)
        df_result.loc[index,'production_companies'] = company         
        df_result.loc[index,'length']  = len(overview.split(' '))

df_result.groupby('production_companies')['length'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    175.0
Name: length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [249]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
data[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,title_words_length
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,7
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,4
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,12
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,4
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,10
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,8
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,6
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,8
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,3
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,8
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,7
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,3
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,7
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,5

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [47]:
answers['27'] ='5. Daniel Radcliffe & Rupert Grint'
#Johnny Depp & Helena Bonham Carter
#Ben Stiller & Owen Wilson
#Vin Diesel & Paul Walker
#Adam Sandler & Kevin James
#Daniel Radcliffe & Rupert Grint

result1 = data[(data['cast'].str.contains('Johnny Depp',False)) & (data['cast'].str.contains('Helena Bonham Carter',False))]['imdb_id'].count()
result2 = data[(data['cast'].str.contains('Ben Stiller',False)) & (data['cast'].str.contains('Owen Wilson',False))]['imdb_id'].count()
result3 = data[(data['cast'].str.contains('Vin Diesel',False)) & (data['cast'].str.contains('Paul Walker',False))]['imdb_id'].count()
result4 = data[(data['cast'].str.contains('Adam Sandler',False)) & (data['cast'].str.contains('Kevin James',False))]['imdb_id'].count()
result5 = data[(data['cast'].str.contains('Daniel Radcliffe',False)) & (data['cast'].str.contains('Rupert Grint',False))]['imdb_id'].count()


print(result1,result2,result3,result4,result5)

6 6 5 5 8

ВАРИАНТ 2

# Submission

In [48]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '5. Peter Jackson',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5.Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [112]:
# и убедиться что ни чего не пропустил)
len(answers)

13